---
import NavLink from "./NavLink.astro";
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro";
import settings from "../websiteSettings.json";

const { links, contact } = settings.navigation;
---

<nav
  class="fixed w-full bottom-0 flex justify-center z-10 px-8 pt-2 pb-8 border-primary border-y backdrop-blur-sm bg-amber-50/25 sm:sticky sm:top-0 sm:pb-2 sm:mb-8"
>
  <ul class="w-full sm:w-auto flex justify-between">
    {links.map((link) => (
      <li>
        <NavLink to={link.to}>{link.label}</NavLink>
      </li>
    ))}
    <li>
      <button id="contact-button" aria-haspopup="dialog" aria-expanded="false" class="font-serif font-light italic text-sm sm:text-xl text-primary me-4 hover:text-black transition-colors">{contact.label}</button>
    </li>
  </ul>
  <dialog id="contact-modal" aria-labelledby="contact-modal-title" aria-modal="true" class="modal  border-primary bg-amber-50 border p-0 drop-shadow-lg  backdrop:backdrop-blur-sm backdrop:bg-amber-50/25 0">
    <Section>
      <SectionHeader title={contact.modalTitle} image={contact.modalImage} id="contact-modal-title" />
      <blockquote>
        {contact.greeting}
        <br />
        {contact.signOff.split("\n").map((line) => <>{line}<br /></>)}
      </blockquote>
      <p>
        <a href={contact.phoneHref}>{contact.phone}</a>
        <br>
        <a href={contact.emailHref}>{contact.email}</a>
        <br>
        <br>
        {contact.address.split("\n").map((line) => <>{line}<br /></>)}
      </p>
      <div class="flex justify-center w-full">
        <button id="close-button" aria-label="Dialog schließen" class="py-2 px-8 mt-8 text-primary font-serif no-underline border border-black hover:border-primary hover:text-black italic transition-all ease-in-out">{contact.closeLabel}</button>
      </div>
    </Section>
  </dialog>
</nav>

<script>
  const contactButton = document.getElementById("contact-button");
  const contactModal = document.getElementById("contact-modal");
  const closeButton = document.getElementById("close-button");
  contactButton.addEventListener("click", () => {
    contactModal.showModal();
    contactButton.setAttribute("aria-expanded", "true");
  });

  const closeModal = () => {
    contactModal.close();
    contactButton.setAttribute("aria-expanded", "false");
  };

  closeButton.addEventListener("click", closeModal);

  contactModal.addEventListener("click", (event) => {
    if (event.target === contactModal) {
      closeModal();
    }
  });
</script>